<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HistoricoView.Properties.Settings.AlmoxarifadoConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=T:\Almoxarifado.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="HistoricoView.Properties.Settings.DbControleEstoque"
            connectionString="Data Source=.\SQLSERVER;AttachDbFilename=&quot;C:\Program Files\Microsoft SQL Server\MSSQL15.SQLSERVER\MSSQL\DATA\ControleDeEstoque.mdf&quot;;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="HistoricoView.Properties.Settings.dbGaleriaAzure"
            connectionString="Data Source=dgodoi.database.windows.net;Initial Catalog=dbGaleria;Persist Security Info=True;User ID=Dgodoi"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>